/* layout */
.main-container {
  display: flex;
  flex-direction: row-reverse;
}
.mapContainer {
  width: 75%;
  height: 100%;
}
.selected-filters {
  position: absolute;
  right: 30%;
  top: 7px;
  z-index: 1;
}
.filterContainer {
  width: 25%;
  padding: 15px;
  padding-right: 0px;
}
.main-container {
  margin: 0px 10px;
}

@media all and (max-width: 767px) {
  .main-container {
    flex-direction: column;
  }
  .mapContainer {
    width: 100%;
  }
  .filterContainer {
    width: 100%;
    padding: 15px;
  }
}
